<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <appSettings>
            <add key="PORT" value="443" />
            <add key="PRO_DB_HOST" value="EDCS-DB-VP22" />
            <add key="PRO_DB_PORT" value="1433" />
            <add key="PRO_DB_USERNAME" value="sa" />
            <add key="PRO_DB_PASSWORD" value="edcs@123" />
            <add key="PRO_DB_DATABASE" value="spectacles" />

            <add key="HASHING512" value="sha512" />
            <add key="HASHING256" value="sha256" />
            <add key="HASHINGSHA1" value="sha1" />

            <add key="SCHOOL_API" value="http://172.31.27.59:8084/MHTWS/services/getSchoolData" />
            <add key="CHILD_API" value="http://172.31.27.59:8084/MHTWS/services/getChildData" />
            <add key="SCHOOL_REDIRECTION_URL" value="http://spectacles.karnataka.gov.in/" />

            <add key="EKYC_URL" value="https://dbt.karnataka.gov.in/HSMService/authrequest.aspx" />
            <add key="EKYC_TOKEN_URL" value="https://dbt.karnataka.gov.in/HSMService/EKYCService.aspx" />
            <add key="EKYC_REDIRECTION_URL" value="https://spectacles.karnataka.gov.in/edcs/edcs_service_application" />
            <add key="DEP_CODE" value="19" />
            <add key="APPLI_CODE" value="161" />
            <add key="SCHEME_CODE" value="109" />
            <add key="INTEGRATION_KEY" value="b02a5cd3-8441-40e5-8454-27a053c968e0" />
            <add key="INTEGRATION_PASS" value="58-@_8k7y$18tnQO" />
            <add key="SERVICE_CODE" value="3" />

            <add key="USERFRONT_PUBLIC_KEY" value="edcsuser@$%%*&^!@123456" />
            <add key="COOKIE_PARSER_KEY" value="thisismysecrctekeyfhrgfgrfrty84fwir767" />

            <add key="KUTUMBA_API" value="https://kutumba-services.karnataka.gov.in/fidapienc/getbeneficiarydata" />
            <add key="KUTUMBA_IV_KEY" value="1231233213214566" />
            <add key="KUTUMBA_AES_KEY" value="6FF79A4EEB154E9C89BAFCD67447B560" />
            <add key="KUTUMA_CLIENT_CODE" value="1737296940" />
            <add key="KUTUMBA_CLIENT_SEC_KEY" value="7BF4B273-A0B7-470F-B188-CFBED6B54943" />

            <add key="SMS_API_SERVICE_KEY" value="5c39cb69-8dbb-4c01-bc2c-cbf44a99de72" />
            <add key="SMS_SENDER_ID" value="MOBKAR" />
            <add key="SMS_USERNAME" value="Mobile_1-MOBKAR9" />
            <add key="SMS_PASSWORD" value="mobkar9@1234" />
            <add key="TEMPLATE_ID" value="1107160499737707035" />
            <add key="TEMPLATE_ID_UNICODE" value="1107167998591733125" />
            <add key="TEMPLATE_ID_FOR_DELIVER" value="1107169468548063830" />
            <add key="TEMPLATE_ID_KANNADA" value="1107170713287653577" />
            <add key="SMS_API" value="http://smsmobile1.karnataka.gov.in/index.php/sendmsg" />
  </appSettings>

<system.webServer>

    <iisnode 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
    />
 <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://103.138.197.145" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
<httpErrors errorMode="Detailed" />

<handlers>
  <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
</handlers>

<rewrite>
  <rules>
  <rule name="StaticContent">
          <action type="Rewrite" url="public/{R:0}" />
        </rule>
    <rule name="nodejs">
      <match url="(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="dist/index.js" />
    </rule>
  </rules>
</rewrite> 

<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
</security>
</system.webServer>
 </configuration>
