<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <style>
        body {
            margin: auto;
            margin: 50vh 0 0 0;
            font-family: 'Lexend Deca', sans-serif;
            color: #2E475D;
        }

        h3 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h3>Click On Continue To Proceed.</h3>
</body>

</html>