<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<head>
</head>
<body class="container">
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="font-size: x-large;font-weight: 700;">Governement Of Karnataka</a>
            <ul class="navbar-nav mr-auto">
            </ul>
          </nav>
    </header>

    <style>
        .button {
            background-color: rgb(38, 38, 144);
            color: white;
            border-radius: 10px;
            width: 100px;
        }
    </style>
    <script>
    function show(data){
        console.log("dcsdfsdf",JSON.stringify(data))
        }
    </script>
    <main>
        <div class="jumbotron">
            <h4>Spectacles Distribution</h4>
            <% if(data?.data.type == "r") { %>
                 <h5>Ready To deliver Data</h5>
                <% } else { %>
                <h5>Delivered Data</h5>
                <% } %>
            <p>Spectacles delivered to this students.. Can you please check and confirm details from students.</p>
            <table class="table">
                <tr>
                    <th>Studnet Id</th>
                    <th>Student Name</th>
                    <th>Order Number</th>
                    <!-- <th>Check Box</th> -->
                </tr>
                        <% ((data?.data?.type == "r") ? data?.data?.order_pending : data?.data?.delivered || []).forEach(function(obj){ %>  
                        <tr>
                            <td><%= obj.sats_id %></td>
                            <td><%= obj.student_name %></td>
                            <td><%= obj.order_number %></td>
                            <!-- <td>
                                    <input id="opt1" type="checkbox" name="check1" />
                            </td> -->
                        </tr>
                        <% }); %>
            </table>
            <!-- <div class="text-center">
                <% if(data?.data.type == "d"){ %>
                    <button onClick = "show('<%= data %>')" class="button">confirm</button>
                <% } %>  
            </div> -->
        </div>
    </main>

    <footer>
        <p class="text-center text-muted">&copy; Copyright 2023, Government of Karnataka</p>
    </footer>

</body>

</html>